# Task 1 create a soup with bs4 and load the data to work later on it

In [2]:
# Import BeautifulSoup from bs4 to get data out of HTML and XML and pandas libraries
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Returns a list of the DataFrames using read_html
url = "List of countries by GDP (nominal) - Wikipedia.htm"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

                                             0
0  Largest economies by nominal GDP in 2017[1]

In [4]:
# Create fd variable that stores wikipedia HTML file by opening it and reading it
# Included encoding='utf8' to tell open() what codec to use when reading the file
# Created soup variable that stores BeautifulSoup function passing fd dataframe to return a string stripped of any HTML tags and metadata
# use .close() to close the open file
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r", encoding='utf8')
soup = BeautifulSoup(fd)
fd.close()

# Task 2 How many tables are there?

In [5]:
# Created all_tables variable that stores find_all function for Soup variable passing table
# Soup variable is the stripped version of fd dataframe
# Printed the total number of tables using the format and len functions of the all_tables variable
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 9

# Task 3 find the right table using the class attribute

In [6]:
# Created data_table variable that stores find function for Soup variable passing table, class of wikitable
# Printed type of data_table using type function to find the right table
data_table = soup.find("table", {"class": '"wikitable"|}'})
print(type(data_table))

<class 'bs4.element.Tag'>

# Task 4 Let's separate the source and the actual data

In [7]:
# Created sources variable that stores the data_table variable and the tbody to group the body contents of HTML table
# and findAll to return all non-overlapping matches of pattern in string using tr and recursive=FALSE to consider only direct children
# To get text from every row in the table, created sources_list that stores a list of the table text
# Print the length of the source_list list
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print(len(sources_list))

3

In [8]:
# Created data variable that stores the data_table variable and the tbody to group the body contents of HTML table
# and findAll to return all non-overlapping matches of pattern in string using tr and td and recursive=FALSE to consider only direct children
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [9]:
# Created a data_tables list and a for loop that iterates on data_tables and the append function
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))

In [10]:
# Used len to find the length of the data_tables list
len(data_tables)

3

# Task 5 Checking how to get the source names

In [11]:
# Created source_names list to find the source names using findAll and getText for source in source_list
source_names = [source.findAll('a')[0].getText() for source in sources_list]
# Printed source_names variable to check the source names
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

# Task 6 Seperate the header and data for the first source

In [12]:
# To seperate header and data for first source, created header1 variable to create the header names from the data_tables variable
# header1 contains th to extract the header names from data_tables
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [13]:
# Created rows1 variable that stores the data_tables variable and the tbody to group the body contents of HTML table
# and findAll to return all non-overlapping matches of pattern in string using tr
# To find the row information, tr iterates on every row of the data
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]

In [14]:
# Created data_rows1 that stores the data from rows1
# using td, obtain every cell value in the row
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [15]:
# Created df1 dataframe using pandas dataframe function and passing data_rows1 and indicating the columns are header1
df1 = pd.DataFrame(data_rows1, columns=header1)

In [16]:
# Displayed the first 5 rows of the dataframe
df1.head()

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

# Task 7 Do the same for the other two sources

In [21]:
# Created header2 to create the header names from the data_tables variable
# header2 contains th to extract the header names from data_tables
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [22]:
# Created rows2 to create the row data
# To find the row information, tr iterates on every row of the data
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [23]:
# Created a function of find_right_text which is an if, elif, and else statements
# If i=0, then the function will return stripped text
# If i=1, then function will return stripped text
# Otherwise, the function will return an index of finding text and then return the stripped text with an index
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("♠")
        return td.text[index+1:].strip()

In [24]:
# Created data_rows2 that stores the data from rows2
# using td, obtain every cell value in the row
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [25]:
# Created df2 dataframe using pandas dataframe function and passing data_rows2 for data and indicating the columns are header1
df2 = pd.DataFrame(data_rows2, columns=header2)

In [27]:
# Displayed the first 5 rows of the dataframe
df2.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [32]:
# Created header3 to create the header names from the data_tables variable
# header3 contains th to extract the header names from data_tables
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
header3

['Rank', 'Country', 'GDP(US$MM)']

In [33]:
# Created rows3 to create the row data
# To find the row information, tr iterates on every row of the data
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')[1:]

In [34]:
# Created data_rows3 that stores the data from rows2 to create rows
# using td, obtain every cell value in the row
data_rows3 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [35]:
# Created df2 dataframe using pandas dataframe function and passing data_rows2 for data and indicating the columns are header1
# Displayed the first 5 rows of the dataframe
df3 = pd.DataFrame(data_rows3, columns=header3)
df3.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439