# Cleaning/Formatting Website Data

## Perform at least 5 data transformation and/or cleansing steps to your website data. For example:
### Replace Headers
### Format data into a more readable format
### Identify outliers and bad data
### Find duplicates
### Fix casing or inconsistent values
### Conduct Fuzzy Matching

In [ ]:
## Import libraries and data

In [1]:
# Import BeautifulSoup from bs4 to get data out of HTML and XML and pandas libraries
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Returns a list of the DataFrames using read_html
url_2021 = "https://www.spotrac.com/mlb/cash/"
list_of_df_2021 = pd.read_html(url)
df14_2021 = list_of_df[0] 
df14_2021.head()

,Rank,Team,Roster,Active Cash,Disabled List,Retained,Buried,Suspended,2021 Total Cash
0,1,Los Angeles Dodgers LAD,28.0,"$183,997,657","$13,482,148","$2,150,521","$24,640,500",NaN,"$223,959,414"
1,2,New York Yankees NYY,28.0,"$166,248,586","$32,986,698","$9,779,712","$14,752,375",NaN,"$214,970,444"
2,3,New York Mets NYM,27.0,"$149,284,571","$34,456,570","$7,554,446","$11,435,500",NaN,"$201,194,662"
3,4,Boston Red Sox BOS,28.0,"$139,111,275","$3,403,229","$37,728,451","$9,657,000",NaN,"$187,362,387"
4,5,San Diego Padres SD,28.0,"$127,411,564","$50,645,500","$1,046,516","$6,355,800",NaN,"$184,440,529"

In [5]:
fd_2021 = open("https://www.spotrac.com/mlb/cash/", "r", encoding='utf8')
soup_2021 = BeautifulSoup(fd_2021)
fd_2021.close()

OSError: [Errno 22] Invalid argument: 'https://www.spotrac.com/mlb/cash/'

In [4]:
url_2020 = "https://www.spotrac.com/mlb/cash/2020/"
list_of_df_2020 = pd.read_html(url)
df14_2020 = list_of_df[0] 
df14_2020.head()

,Rank,Team,Roster,Active Cash,Disabled List,Retained,Buried,Suspended,2021 Total Cash
0,1,Los Angeles Dodgers LAD,28.0,"$183,997,657","$13,482,148","$2,150,521","$24,640,500",NaN,"$223,959,414"
1,2,New York Yankees NYY,28.0,"$166,248,586","$32,986,698","$9,779,712","$14,752,375",NaN,"$214,970,444"
2,3,New York Mets NYM,27.0,"$149,284,571","$34,456,570","$7,554,446","$11,435,500",NaN,"$201,194,662"
3,4,Boston Red Sox BOS,28.0,"$139,111,275","$3,403,229","$37,728,451","$9,657,000",NaN,"$187,362,387"
4,5,San Diego Padres SD,28.0,"$127,411,564","$50,645,500","$1,046,516","$6,355,800",NaN,"$184,440,529"

In [ ]:

url_2019 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2018 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2017 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2016 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2015 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2014 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2013 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

url_2012 = "https://www.spotrac.com/mlb/cash/"
list_of_df = pd.read_html(url)
df14 = list_of_df[0] 
df14.head()

In [ ]:
# Create fd variable that stores wikipedia HTML file by opening it and reading it
# Included encoding='utf8' to tell open() what codec to use when reading the file
# Created soup variable that stores BeautifulSoup function passing fd dataframe to return a string stripped of any HTML tags and metadata
# use .close() to close the open file
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r", encoding='utf8')
soup = BeautifulSoup(fd)
fd.close()

In [ ]:
## Replace Headers

In [ ]:
## Format data into a more readable format

In [ ]:
## Identify outliers and bad data

In [ ]:
## Find duplicates

In [ ]:
## Fix casing or inconsistent values

In [ ]:
## Conduct fuzzy matching