### Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [1]:
import sqlite3 # import sqlite3 library of Python

In [2]:
conn = sqlite3.connect("petsdb") # use the connect function to connect to the petsDB database

In [3]:
# Created is_opened function that passed the conn variable to validate that the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
print(is_opened(conn)) # using is_opened function, print to confirm if the connection is openned

True

In [5]:
conn.close() # close the connection with conn object (main connection object)

In [6]:
print(is_opened(conn)) # using is_opened function, print to confirm if the connection is openned (it should be closed)

Connection closed Cannot operate on a closed database.
False

### Task 2: (What are the different age groups in the persons database)

In [7]:
conn = sqlite3.connect("petsdb") # import sqlite3 library of Python

In [8]:
c = conn.cursor() # create a cursor object by calling conn.cursor() where the cursor object acts as a medium to communicate witht the database

In [9]:
# To find the different persons' age groups in the database, create for loop of the ppl and age variables
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):  # use SELECT clause in SQL to retreive persons data and GROUP BY their age 
    print("We have {} people aged {}".format(ppl, age)) # print our all grouped people by their ages

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### Task 3: Which age group has maximum number of people?

In [10]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"): # use SELECT clause in SQL to retreive data using FROM the persons variable and ORDER by count
    print("Highest number of people {} came from {} age group".format(ppl, age)) # print out the highest number of people in 1 age group
    break

Highest number of people 5 came from 73 age group

### Task 4: How many people do not have a full name (Last name is blank/null)

In [17]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null") # create res variable and define using SELECT clause in SQL to get the count of person data WHERE there's no last name
for row in res: # for each row in the res variable, print how many have no last name using res variable
    print(row) # print the number passing rows

(60,)

### Task 5: How many people has more than one pet? (*)

In [12]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)") # create res variable and use SELECT clause to count which owners have more than 1 pet (>1) using FROM
for row in res: # for each row in the res variable, print how many have more than 1 pet using res variable
    print("{} People has more than one pets".format(row[0])) # print the number passing rows

43 People has more than one pets

### Task 6: How many pets have received treaments?

In [13]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1") # create res variable using SELECT clause to count how many pets received treatment using FROM and WHERE treatments completed is 1
for row in res: # for each row in the res variable, print how many pets have received treatment
    print(row) # print the number passing rows

(36,)

### Task 7: How many pets have received treatment that we know the type of? (*)

In [14]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null") # create res variable using SELECT clause to count how many pets received treatment using FROM and WHERE treatments completed is 1 that we know what kind of treatment
for row in res: # for each row in the res variable, print how many pets have received treatment of a known kind
    print(row) # print the number passing rows

(16,)

### Task 8: How many pets are there from the city called "east port"

In [18]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'") # create res variable using SELECT clause to count how many pets there are from East Port by joining pets and persons tables using pets.owner_id = persons.id
for row in res: # for each row in the res variable, print how many pets are from East Port
    print(row) # print the number passing rows

(49,)

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [16]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1") # create res variable using SELECT clause to count how many pets there are from East Port by joining pets and persons tables using pets.owner_id = persons.id and have treament = 1
for row in res: # for each row in the res variable, print how many pets are from East Port and received treatment
    print(row) # print the number passing rows

(11,)